In [8]:
import pandas as pd

data = pd.read_csv("/home/hjpubuntu22045/korea_c/ml_dl_python/data/titanic/train.csv")
test = pd.read_csv("/home/hjpubuntu22045/korea_c/ml_dl_python/data/titanic/test.csv")
print(data.info())
print(data.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [9]:
train_df = data[["Pclass", "Age", "SibSp", "Fare", "Sex", "Embarked", "Survived"]]
test_df = test[["Pclass", "Age", "SibSp", "Fare", "Sex", "Embarked"]]

# 성별, 승선항구 등의 카테고리 인코딩
from sklearn.preprocessing import LabelEncoder

# 성별
le_sex = LabelEncoder()
train_df["Sex"] = le_sex.fit_transform(train_df["Sex"])
test_df["Sex"] = le_sex.transform(test_df["Sex"])

# 승선항구
le_emb = LabelEncoder()
train_df["Embarked"] = le_emb.fit_transform(train_df["Embarked"])
test_df["Embarked"] = le_emb.transform(test_df["Embarked"])

df_input = train_df.iloc[:, :-1].values
df_target = train_df.iloc[:, -1].values

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df_input, df_target, test_size=0.2)
from xgboost import XGBClassifier

xgb = XGBClassifier(tree_method="hist")
xgb.fit(X_train, y_train)
from sklearn.metrics import accuracy_score

y_pred = xgb.predict(X_test)
accurate = accuracy_score(y_test, y_pred)
print(accurate)

/tmp/ipykernel_298371/3253956208.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df["Sex"] = le_sex.fit_transform(train_df["Sex"])
/tmp/ipykernel_298371/3253956208.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df["Sex"] = le_sex.transform(test_df["Sex"])
/tmp/ipykernel_298371/3253956208.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df["Embarked"] = le_emb.fit_transform(train_df["Embarked"])
/tmp/ipykernel_298371/3253956208.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df["Embarked"] = le_emb.transform(test_df["Embarked"])

0.8212290502793296

In [10]:
print(test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB
None

In [11]:
pred_test = xgb.predict(test_df)
pred_test.astype(int)
submisstion = pd.DataFrame({"PassengerId": test["PassengerId"], "Survived": pred_test})

In [12]:
submisstion.info()
submisstion.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
dtypes: int64(2)
memory usage: 6.7 KB

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         1
4          896         0

In [13]:
submisstion.to_csv("/home/hjpubuntu22045/korea_c/ml_dl_python/data/titanic/xgb_titanic.csv", index=False)